/*
 * Copyright (c) 2017 Shawn Nock <shawn@monadnock.ca>
 * Copyright (c) 2017 Linaro Limited
 * Copyright (c) 2019 dog hunter LLC and the Linino community
 *
 * Linino.org is a dog hunter sponsored community project
 *
 * nrf52 primo mini evb.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <doghunter/nrf52_primo_mini.dtsi>

/ {
	model = "Primo Mini EVB board";
	compatible = "doghunter,primo-mini-evb", "doghunter,primo-mini",
		     "nordic,nrf52840-qiaa", "nordic,nrf52840";

	chosen {
		zephyr,console = &uart0;
#ifdef CONFIG_MCUMGR_SMP_UART
		zephyr,uart-mcumgr = &uart0;
#endif
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 17 GPIO_INT_ACTIVE_LOW>;
			label = "USER button";
		};
	};

	leds {
                compatible = "gpio-leds";
                red_led: led_0 {
			/* PD37 -> P1.05 */
                        gpios = <&gpio1 5 0>;
                        label = "User LD1";
                };
                green_led: led_1 {
			/* PD38 -> P1.06 */
                        gpios = <&gpio1 6 0>;
                        label = "User LD2";
                };
                blue_led: led_2 {
			/* PD39 -> P1.07 */
                        gpios = <&gpio1 7 0>;
                        label = "User LD3";
                };
        };
};

&i2c1 {
	hts221@5f {
		compatible = "st,hts221";
		reg = <0x5f>;
		label = "HTS221";
	};
};

&spi2 {
	status = "ok";
	/* NSS_EXT -> PD41 -> p1.15 */
	cs-gpios = <&gpio1 15 0>;
	mosi-pin = <44>;
	miso-pin = <45>;
	sck-pin = <46>;

	display@0 {
		compatible = "ws,e-paper";
		reg = <0>;
		label = "DISPLAY";
		xres = <212>;
		yres = <104>;
		spi-max-frequency = <5000000>;
		/* 4 -> PD9 -> p0.22 */
		reset-gpios = <&gpio0 22 GPIO_POL_INV>;
		/* 3 -> PD8 -> p0.21 */
		busy-gpios = <&gpio0 21 GPIO_POL_INV>;
		/* 2 -> PD10 -> p0.20 */
		dc-gpios = <&gpio0 20 0>;
	};

};
