# Kconfig - Linino Primo board configuration
#
# Copyright (c) 2018 Linino org
#
# SPDX-License-Identifier: Apache-2.0
# Author: Davide Ciminaghi <davide@linino.org>, Jeff Wu <jeff@doghunter.org>

config  BOARD_NRF52_PRIMO
	bool "nRF52 Primo"
	depends on SOC_NRF52832_QFAA
