# Kconfig - Linino Primo board configuration
#
# Copyright (c) 2018 Linino org
#
# SPDX-License-Identifier: Apache-2.0
# Author: Davide Ciminaghi <davide@linino.org>, Jeff Wu <jeff@doghunter.org>

if BOARD_NRF52_PRIMO

config BOARD
	default "nrf52_primo"

endif # BOARD_NRF52_PRIMO
