# Kconfig - nRF52 PRIMO board configuration
#
# Copyright (c) 2016 Nordic Semiconductor ASA
# Copyright (c) 2018 WhatsNext gmbh
# Author: Davide Ciminaghi <davide@linino.org>
#
# SPDX-License-Identifier: Apache-2.0

config  BOARD_NRF52_PRIMO
	bool "nRF52 Primo"
	depends on SOC_NRF52832_QFAA
